@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand&display=swap");

html,
body {
  font-size: 100%;
  width: 100%;
  margin: 0;
}

header,
aside,
nav,
article,
footer {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  background: #f7f7f7;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 1em;
}

header {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

nav li {
  padding: 10px 0px 10px 0px;
  border-bottom: thin solid #777777;
  font-size: 1rem;
}

.article-container {
  display: grid;
  grid-gap: 1em;
}

article {
  text-align: justify;
}

article img {
  max-width: 100%;
  width: auto;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: #777777;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 150px auto;
  }

  header,
  footer,
  aside {
    grid-column: 1 / 3;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 150px auto 150px;
  }

  .article-container {
    grid-template-columns: 1fr 1fr;
  }

  header,
  footer {
    grid-column: 1 / 4;
  }

  aside {
    grid-column: unset;
  }

  article img {
    box-sizing: border-box;
    float: right;
    width: 50%;
    margin-left: 20px;
  }
}

.button {
  border: none;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  color: #eaeaea;
  background-color: #111111;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.button.button--float-right {
  float: right;
}

.button .button__text {
  font-size: 1rem;
}

.button.button--blue {
  background-color: #496ee8;
}

.button.button--green {
  background-color: #20c77f;
}

.button.button--big .button__text {
  font-size: 2rem;
}

.button.button--small .button__text {
  font-size: 0.8rem;
}

.button.button--ghost {
  color: #111111;
  border: 2px solid #111111;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.button.button--ghost:hover {
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: #111;
}

.button.button--ghost.button--blue {
  color: #496ee8;
  border-color: #496ee8;
}

.button.button--ghost.button--blue:hover {
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: #496ee8;
}

.button.button--ghost.button--green {
  color: #20c77f;
  border-color: #20c77f;
}

.button.button--ghost.button--green:hover {
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: #20c77f;
}

.button.button--inactive {
  background-color: #ccc;
  cursor: not-allowed;
}