<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Standings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/index.css" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body>
<hr/>

<div class="container">
  <div class="wrapper">
    <div class="content">
      <h1>Our App is Coming Soon</h1>
      <p>The best place for you to keep up with football scores from around the world.<br>If their is game being played we are tracking it.</p>
      <!-- <a href="#" class="btn1">Subscribe</a> -->
      <a th:href="@{/}" class="btn2">Back to Homes</a>
    </div> <!-- content ends -->
  </div> <!-- wrapper ends -->
</div> <!-- container ends -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/standings.js" th:src="@{/js/standings.js}"></script>
</body>
</html>