<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container mt-md-5 mt-4 pt-md-5">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/images/LiveScore.png}" alt="img" width="30"/>
                    LiveScore
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto top-navbar">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fa fa-home"></i>
                                Score
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-newspaper-o"></i>
                                News
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-star-o"></i>
                                Favourites
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-download"></i>
                                Get the app
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills mb-3 tab1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"
                       aria-controls="pills-1" aria-selected="true">Football</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-3 div1">
            <div class="card">
                <div class="card-header card-header-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline list1 mb-0">
                        <li>
                            <a th:href="@{/standings/4108}">
                                <img src="https://cdn.elenasport.io/flags/svg/27" alt="img"/>
                                England
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4298}">
                                <img src="https://cdn.elenasport.io/flags/svg/31" alt="img"/>
                                France
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4153}">
                                <img src="https://cdn.elenasport.io/flags/svg/32" alt="img"/>
                                Germany
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4171}">
                                <img src="https://cdn.elenasport.io/flags/svg/67" alt="img"/>
                                Portugal
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4157}">
                                <img src="https://cdn.elenasport.io/flags/svg/80" alt="img"/>
                                Spain
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4184}">
                                <img src="https://cdn.elenasport.io/flags/svg/45" alt="img"/>
                                Italy
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4114}">
                                <img src="https://cdn.elenasport.io/flags/svg/74" alt="img"/>
                                Scotland
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/13" alt="img"/>
                                Brazil
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/5" alt="img"/>
                                Argentina
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/89" alt="img"/>
                                USA
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/images/UEFA_ChampionsLeague.png}" alt="img" width="40" />
                                UEFA Champions League
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/images/UEFA_EuropaLeague_logo.png}" alt="img" width="40" />
                                UEFA Europa League
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="" class="btn pl-4 pr-4 pt-1 pb-1 btn-orange f600">See All</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 div2 mt-md-0 mt-4">
            <div class="card">
                <div class="card-header">
                    <ul class="list-inline list2 text-center d-flex justify-content-between mb-0">
                        <li>
                            <a href="">
                                <span class="sp2 badge badge1 badge-secondary mt-1">Live</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="sp1">THU</span>
                                <span class="sp2">28 Apr</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="sp1">FRI</span>
                                <span class="sp2">29 Apr</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="sp1">Sat</span>
                                <span class="sp2">30 Apr</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="sp1">Sun</span>
                                <span class="sp2">01 May</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-3">
                    <div class="match-div">
                        <a href="">
                            <img src="https://cdn.elenasport.io/flags/svg/27" alt="img"/>
                            <span class="sp1">Premier League</span>
                            <span class="text-secondary sp2">England</span>
                        </a>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="d-flex w-100 box1 mb-2 box1-dark" th:each="fixture,p: ${Eng.expand.seasons[0].expand.nextFixtures}"
                                 th:unless="${p.index > 3}" >
                                <a th:href="@{'/fixtures/'+${fixture.id}}" class="w-100 d-block d-flex">
                                    <div class="col-md-2 col-2">
                                        <span class="time" th:text="${#strings.substring(fixture.date,11,16)}">16:30</span>
                                    </div>
                                    <div class="col-md-8 col-8">
                                        <p class="mb-1">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idHome}}" alt="img" width="24">
                                            <span th:text="${fixture.homeName}"class="ml-2">Norwich</span>
                                        </p>
                                        <p class="mb-0">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idAway}}"alt="img" width="24"/>
                                            <span  th:text="${fixture.awayName}"class="ml-2">Chelsea</span>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-2 text-right">
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </a>
                            </div>
                    </div>
                    </div>

                    <div class="match-div mt-3">
                        <a href="">
                            <img src="https://cdn.elenasport.io/flags/svg/45" alt="img"/>
                            <span class="sp1">Serie A</span>
                            <span class="text-secondary sp2">Italy</span>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="d-flex w-100 box1 mb-2 box1-dark" th:each="fixture,p: ${Ita.expand.seasons[0].expand.nextFixtures}"
                                 th:unless="${p.index > 3}" >
                                <a th:href="@{'/fixtures/'+${fixture.id}}" class="w-100 d-block d-flex">
                                    <div class="col-md-2 col-2">
                                        <span class="time" th:text="${#strings.substring(fixture.date,11,16)}">16:30</span>
                                    </div>
                                    "
                                    <div class="col-md-8 col-8">
                                        <p class="mb-1">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idHome}}" alt="img" width="24">
                                            <span th:text="${fixture.homeName}"class="ml-2">Norwich</span>
                                        </p>
                                        <p class="mb-0">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idAway}}"alt="img" width="24"/>
                                            <span  th:text="${fixture.awayName}"class="ml-2">Chelsea</span>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-2 text-right">
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="match-div mt-3">
                        <a href="">
                            <img src="https://cdn.elenasport.io/flags/svg/80" alt="img"/>
                            <span class="sp1">La Liga</span>
                            <span class="text-secondary sp2">Spain</span>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="d-flex w-100 box1 mb-2 box1-dark" th:each="fixture,p: ${Spa.expand.seasons[0].expand.nextFixtures}"
                                 th:unless="${p.index > 3}" >
                                <a th:href="@{'/fixtures/'+${fixture.id}}" class="w-100 d-block d-flex">
                                    <div class="col-md-2 col-2">
                                        <span class="time" th:text="${#strings.substring(fixture.date,11,16)}">16:30</span>
                                    </div>
                                    <div class="col-md-8 col-8">
                                        <p class="mb-1">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idHome}}" alt="img" width="24">
                                            <span th:text="${fixture.homeName}"class="ml-2">Norwich</span>
                                        </p>
                                        <p class="mb-0">
                                            <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idAway}}"alt="img" width="24"/>
                                            <span  th:text="${fixture.awayName}"class="ml-2">Chelsea</span>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-2 text-right">
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 div3 mt-md-0 mt-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Featured News</h5>
                </div>
                <div class="card-body p-3">
                    <a href="" class="bg-link mb-2">
                        <div class="bg" style="background:url(assets/images/bg1.jpg)">
                            <h4 class="text-white pt-4">Lamps hoping to give old club the Blues</h4>
                        </div>
                    </a>
                    <a href="" class="bg-link mb-2">
                        <div class="bg" style="background:url(assets/images/bg2.jpg)">
                            <h4 class="text-white pt-4">Lamps hoping to give old club the Blues</h4>
                        </div>
                    </a>
                    <a href="" class="bg-link">
                        <div class="bg" style="background:url(assets/images/bg3.jpg)">
                            <h4 class="text-white pt-4">Lamps hoping to give old club the Blues</h4>
                        </div>
                    </a>
                </div>
            </div>

    </div>
</div>

<footer class="mt-5 pt-md-5">
    <div class="bg-light">
        <p class="m-0 p-4 text-center">
            &copy;2022 - All Rights Reserved.
        </p>
    </div>
</footer>


<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

</script>

</body>
</html>