<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Standings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container mt-md-5 mt-4 pt-md-5">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/images/LiveScore.png}" alt="img" width="30"/>
                    LiveScore
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto top-navbar">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fa fa-home"></i>
                                Score
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-newspaper-o"></i>
                                News
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-star-o"></i>
                                Favourites
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-download"></i>
                                Get the app
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<hr/>
<div class="container">
    <div class="comp-select"></div>
   <div class="comp-title"><img class="comp-flag" th:src="@{'https://cdn.elenasport.io/flags/svg/'+ ${stand.expand.stage[0].expand.season[0].expand.league[0].idCountry}}">
       <h1 class="comp-name" th:text="${stand.expand.stage[0].expand.season[0].expand.league[0].name}"> Premier League </h1></div>
    <div class="comp-table-container">
        <table class="comp-table">
            <thead>
            <tr class="comp-table-header">
                <th class="rank">#</th>
                <th class="team">Team</th>
                <th class="played">P</th>
                <th class="won">W</th>
                <th class="drawn">D</th>
                <th class="lost">L</th>
                <th class="for">+</th>
                <th class="against">-</th>
                <th class="difference">+/-</th>
                <th class="points">P</th>
            </tr>
            </thead>
            <tbody class="comp-table-body">
            <tr th:each="team: ${teams.data}" class="clickable-row" th:data-href="@{'/teams/'+${team.idTeam}}">
            <td class="rank" th:text="${team.ranking}"></td>
                <td class="team" ><img class="logo-img" th:src="@{${team.expand.team[0].badgeUrl}}"/> <span class="team" th:text="${team.teamName}"></span> </td>

                <td class="played" th:text="${team.gamesPlayed}"></td>
            <td class="won" th:text="${team.gamesWon}"></td>
            <td class="drawn" th:text="${team.gamesDrawn}"></td>
            <td class="lost" th:text="${team.gamesLost}"></td>
            <td class="for" th:text="${team.goalsFor}"></td>
            <td class="against" th:text="${team.goalsAgainst}"></td>
            <td class="difference" th:text="${team.goalDifference}"></td>
                <td class="points" th:text="${team.points}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/standings.js" th:src="@{/js/standings.js}"></script>
</body>
</html>