<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="header :: myHeader"></header>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--            <ul class="nav nav-pills mb-3 tab1" id="pills-tab" role="tablist">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"-->
            <!--                       aria-controls="pills-1" aria-selected="true">Football</a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-3 div1">
            <div class="card">
                <div class="card-header card-header-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline list1 mb-0">
                        <li>
                            <a th:href="@{/standings/4108}">
                                <img src="https://cdn.elenasport.io/flags/svg/27" alt="img"/>
                                England
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4298}">
                                <img src="https://cdn.elenasport.io/flags/svg/31" alt="img"/>
                                France
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4153}">
                                <img src="https://cdn.elenasport.io/flags/svg/32" alt="img"/>
                                Germany
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4171}">
                                <img src="https://cdn.elenasport.io/flags/svg/67" alt="img"/>
                                Portugal
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4157}">
                                <img src="https://cdn.elenasport.io/flags/svg/80" alt="img"/>
                                Spain
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4184}">
                                <img src="https://cdn.elenasport.io/flags/svg/45" alt="img"/>
                                Italy
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/standings/4114}">
                                <img src="https://cdn.elenasport.io/flags/svg/74" alt="img"/>
                                Scotland
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/13" alt="img"/>
                                Brazil
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/5" alt="img"/>
                                Argentina
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://cdn.elenasport.io/flags/svg/89" alt="img"/>
                                USA
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/images/UEFA_ChampionsLeague.png}" alt="img" width="40"/>
                                UEFA Champions League
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/images/UEFA_EuropaLeague_logo.png}" alt="img" width="40"/>
                                UEFA Europa League
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="" class="btn pl-4 pr-4 pt-1 pb-1 btn-orange f600">See All</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 div2 mt-md-0 mt-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-9">
                            <div class="match-div">
                                <a href="">
                                    <img th:src="@{${teams.badgeUrl}}" alt="img">
                                    <span th:text="${teams.fullName}" class="sp1">Premier League</span>
                                    <span th:text="${teams.country}" class="text-secondary sp2">Holland</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <a href="" class="orang-star mt-3">
                                <i class="fa fa-star-o"></i>
                            </a>
                        </div>
                    </div>

                    <!--                    <div class="d-flex w-100 box3 mb-2 text-center mt-3">-->
                    <!--                        <div class="w-100 d-block d-flex text-center">-->
                    <!--                            <div class="col-md-4">-->
                    <!--                                <img src="assets/images/k8.png" alt="img" width="40" height="40">-->
                    <!--                                <p class="mb-0 pt-1 text2">Newcastle United</p>-->
                    <!--                            </div>-->

                    <!--                            <div class="col-md-4">-->
                    <!--                                <h4 class="pt-2">16:30</h4>-->
                    <!--                                <p class="text-secondary mb-0">Next Match</p>-->
                    <!--                            </div>-->

                    <!--                            <div class="col-md-4">-->
                    <!--                                <img src="assets/images/k9.png" alt="img" width="40" height="40">-->
                    <!--                                <p class="mb-0 pt-1 text2">Liverpool</p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <ul class="nav nav-pills  my-3 tab2 mt-4" id="pills-tab-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-01-tab" data-toggle="pill" href="#pills-01" role="tab"
                               aria-controls="pills-01" aria-selected="true">Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-02-tab" data-toggle="pill" href="#pills-02" role="tab"
                               aria-controls="pills-02" aria-selected="false">Fixtures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-03-tab" data-toggle="pill" href="#pills-03" role="tab"
                               aria-controls="pills-03" aria-selected="false">Info</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent-2">
                        <div class="tab-pane fade show active" id="pills-01" role="tabpanel"
                             aria-labelledby="pills-01-tab">
                            <div class="match-div">
                                <a href="">
                                    <img th:src="@{${league.data[0].expand.league[0].expand.country[0].flag}}"
                                         alt="img">
                                    <span class="sp1"
                                          th:text="${league.data[0].expand.league[0].name}">Premier League</span>
                                    <span class="text-secondary sp2"
                                          th:text="${league.data[0].expand.league[0].countryName}">Holland</span>
                                </a>
                            </div>

                            <div class="d-flex w-100 box1 mt-3 box1-dark"
                                 th:each="fixture,p: ${results}">
                                <div href="" class="w-100 d-block d-flex">
                                    <a th:href="@{'/fixtures/'+${fixture.id}}" class="w-100 d-block d-flex">
                                        <div class="col-md-2 col-3 text-center">
                                            <p class="mb-0">
                                                <span class="fw500" style="font-size:12px"
                                                      th:text="${#strings.substring(fixture.date,4,10)}">3 JAN</span>
                                                <span class="pt-1 fw500 d-block">FT</span>
                                            </p>
                                        </div>
                                        <div class="col-md-10 col-9">
                                            <p class="mb-1">
                                                <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idHome}}"
                                                     alt="img" width="24">
                                                <span class="ml-2" th:text="${fixture.homeName}">Norvich City </span>
                                                <span><em th:text="${fixture.homeTeamGoals}"><b>3</b></em> </span>
                                            </p>
                                            <p class="mb-0">
                                                <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idAway}}"
                                                     alt="img" width="24"/>
                                                <span class="ml-2"
                                                      th:text="${fixture.awayName}">Chelsea <em><b>1</b></em> </span>
                                                <span><em th:text="${fixture.awayTeamGoals}"><b>3</b></em></span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-02" role="tabpanel" aria-labelledby="pills-02-tab">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="d-flex w-100 box1 mb-2 box1-dark" th:each="fixture,p: ${fixtures}"
                                         th:unless="${p.index > 3}">
                                        <a th:href="@{'/fixtures/'+${fixture.id}}" class="w-100 d-block d-flex">
                                            <div class="col-md-2 col-2">
                                                <span class="time" th:text="${#strings.substring(fixture.date,11,16)}">16:30</span>
                                            </div>
                                            <div class="col-md-8 col-8">
                                                <p class="mb-1">
                                                    <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idHome}}"
                                                         alt="img" width="24">
                                                    <span th:text="${fixture.homeName}" class="ml-2">Norwich</span>
                                                </p>
                                                <p class="mb-0">
                                                    <img th:src="@{'https://cdn.elenasport.io/badges/150x150/'+ ${fixture.idAway}}"
                                                         alt="img" width="24"/>
                                                    <span th:text="${fixture.awayName}" class="ml-2">Chelsea</span>
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-2 text-right">
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-03" role="tabpanel" aria-labelledby="pills-03-tab">
                            <h4 class="info pt-3 pb-1">Info</h4>

                            <div class="card w-100">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-calendar icons"></i>
                                            <span class="sp1" th:text="${teams.founded}">30 April 2022</span>
                                            <span class="text-secondary sp2">Founded</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <img th:src="@{${teams.badgeUrl}}" alt="img"
                                                 width="60"/>
                                            <span class="sp1">Logo</span>
                                            <span class="text-secondary sp2">Club Badge</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-star icons" aria-hidden="true"></i>
                                            <span class="sp1" th:text="${teams.fullName}">Manchester City FC</span>
                                            <span class="text-secondary sp2">Name</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-globe icons" aria-hidden="true"></i>
                                            <span class="sp1" th:text="${teams.country}">England</span>
                                            <span class="text-secondary sp2">Country</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-info icons" aria-hidden="true"></i>
                                            <a th:href="${teams.officialPage}" target="_blank">
                                                <span class="sp1" th:text="${teams.officialPage}"></span>
                                            </a>
                                            <span class="text-secondary sp2">Official Homepage</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-home icons"></i>
                                            <span class="sp1" th:text="${venue.name}">St James' Park</span>
                                            <span class="text-secondary sp2">Venue</span>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="match-div">
                                            <i class="fa fa-user-o icons"></i>
                                            <span class="sp1" th:text="${venue.capacity}">45,000</span>
                                            <span class="text-secondary sp2">Capacity</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 div3 mt-md-0 mt-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Featured News</h5>
                </div>
                <div class="card-body p-3" th:each="article,p: ${news.articles}" th:unless="${p.index > 6}">
                    <a th:href="@{${article.link}}" class="bg-link mb-2">
                        <div class="bg" th:style="'background-image:url(' + ${article.media}+ ')'">
                            <h4 class="text-white pt-4" th:text="${article.title}">Lamps hoping to give old club the
                                Blues</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="mt-5 pt-md-5">
    <div class="bg-light">
        <p class="m-0 p-4 text-center">
            &copy;2022 - All Rights Reserved.
        </p>
    </div>
</footer>


<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


</script>
</body>
</html>